NOTF_POSTGRES_DB=notification_db
NOTF_POSTGRES_USER=notification
NOTF_POSTGRES_PASSWORD=notf_pass
NOTF_POSTGRES_HOST=db_notifications
NOTF_POSTGRES_PORT=5432

ADMIN_PANEL_SECRET_KEY=very-secret
ADMIN_PANEL_DEBUG=True
ADMIN_PANEL_ALLOWED_HOSTS=127.0.0.1,localhost
USE_POSTGRES_IN_ADMIN_PANEL=True

NOTF_PROJECT_NAME=notifications_service
NOTF_PROJECT_VERSION=0.0.1
JWT_SECRET=secret
JWT_ADMIN_ROLE=role

EMAIL_EXCHANGE=email
EMAIL_QUEUE=send_email
NOTF_RABBITMQ_USER=admin
NOTF_RABBITMQ_PASS=admin
NOTF_RABBITMQ_HOST=rabbitmq_notifications
NOTF_RABBITMQ_PORT=5672

NOTF_ELASTICEMAIL_API_KEY=api_key
NOTF_ELASTICEMAIL_FROM_EMAIL=email

NOTF_API_HOST=notification_api
NOTF_API_PORT=8001
