MONGO_HOST_1=mongos1
MONGO_HOST_2=mongos2
MONGO_PORT=27017
MONGO_DB_NAME=test_db
MONGO_DB_COLLECTION=collection_likes

FILM_IDS_FILENAME=film_ids
USER_IDS_FILENAME=user_ids
FILM_COUNT=100000
USER_COUNT=1000000
MIN_LIKED_FILMS=2
MAX_LIKED_FILMS=6
BATCH_SIZE=10000
LIKED_MIN=1