Flask==2.2.3
Flask-SQLAlchemy==3.0.3
redis==4.4.2
gevent==22.10.2
SQLAlchemy==2.0.9
psycopg2-binary==2.9.6
gunicorn==20.1.0
uvicorn==0.21.1
pydantic==1.10.5
Flask-JWT-Extended==4.4.4
bcrypt==4.0.1
pydantic[email]==1.10.5
Flask-And-Redis==1.0.0
Flask-Migrate==4.0.4
flasgger==0.9.5
user-agents==2.2.0
yandexid==0.3.1
python-dotenv==0.21.0
openapi_core==0.17.1
opentelemetry-api==1.10.0
opentelemetry-sdk==1.10.0
opentelemetry-instrumentation-flask==0.29b1
opentelemetry-exporter-jaeger==1.10.0 
flask_wtf==1.1.1