PROJECT_VERSION=0.0.1
PROJECT_NAME=movies

REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elastic
ELASTIC_PORT=9200

URI=http://elastic:9200/_bulk/
URI_LOAD_DATA=http://elastic:9200/genres/

DATABASE=postgres

POSTGRES_DB=movies_database
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_USER=app
POSTGRES_PASSWORD=app
SIZE=10

AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_HOST=auth_db
AUTH_POSTGRES_USER=auth
AUTH_POSTGRES_PASSWORD=auth

AUTH_REDIS_HOST=auth_redis
AUTH_REDIS_PORT=6379

JWT_SECRET=VERY_SECRET
ACCESS_TOKEN_EXPIRES=3600
REFRESH_TOKEN_EXPIRES=604800