PROJECT_VERSION=0.0.1
PROJECT_NAME=movies

REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elastic
ELASTIC_PORT=9200

URI=http://elastic:9200/_bulk/
URI_LOAD_DATA=http://elastic:9200/genres/

DATABASE=postgres

POSTGRES_DB=movies_database
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_USER=app
POSTGRES_PASSWORD=app
SIZE=10

AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_HOST=auth_db
AUTH_POSTGRES_USER=auth
AUTH_POSTGRES_PASSWORD=auth

OAUTHLIB_INSECURE_TRANSPORT=1
GOOGLE_REDIRECT_URI=http://localhost:80/auth/api/v1/user/signin/google/callback/

# You can specify another path
GOOGLE_FILE=./google_client_secret.json

YANDEX_CLIENT_ID=your-id
YANDEX_CLIENT_SECRET=your-secret
YANDEX_REDIRECT_URI=http://localhost:80/api/v1/user/signin/yandex/callback/

MAX_TOKENS=100000
SEC_FOR_TOKEN=0.01

AUTH_REDIS_HOST=auth_redis
AUTH_REDIS_PORT=6379
BASE_URL=http://localhost:5000

RATE_LIMIT_ENABLED=True
TRACER=True

JWT_SECRET=VERY_SECRET
ACCESS_TOKEN_EXPIRES=3600
REFRESH_TOKEN_EXPIRES=604800

JWT_REQUIER=True

UGC_PROJECT_NAME=UGC
UGC_PROJECT_VERSION=0.0.1
UGC_REDIS_HOST=ugc_redis
UGC_REDIS_PORT=6379
FILM_WATCH_TIME_EXPIRED=1209600

KAFKA_HOST=kafka
KAFKA_PORT=9092
ZOOKEEPER_HOST=zookeeper-kafka
ZOOKEEPER_PORT=2181

UGC_ETL_REDIS_HOST=ugc_redis
UGC_ETL_REDIS_PORT=6379

KAFKA_ADVERTISED_HOST_NAME=kafka
KAFKA_ZOOKEEPER_CONNECT=zookeeper-kafka:2181
BOOTSTRAP_SERVERS=["kafka:9092"]

CLICKHOUSE_HOST=clickhouse-node1
CLICKHOUSE_NODE_1=clickhouse-node3
CLICKHOUSE_PORT=9000

CLICKHOUSE_TABLE_NAME=users_films

MONGO_DB=ugc
FILM_REVIEW_COLLECTION=film_review
FILM_RATING_COLLECTION=film_rating
FILM_REVIEW_RATE_COLLECTION=film_review_rate
BOOKMARK_COLLECTION=bookmark_collection
MONGOS1_HOST=mongos1
MONGOS1_PORT=27017
MONGOS2_HOST=mongos2
MONGOS2_PORT=27017
UGC_FAST_API_SENTRY_DSN=DSN
LOGSTASH_HOST=ugc-logstash-1
