gunicorn==20.1.0
uvicorn==0.22.0
fastapi==0.100.0
yookassa==2.4.0
pydantic==2.0.3
pydantic-settings==2.0.2
SQLAlchemy[asyncio]==2.0.18
alembic==1.11.1
psycopg2==2.9.6
asyncpg==0.28.0
PyJWT==2.7.0
httptools==0.6.0
orjson==3.9.2
aio_pika==8.0.3
backoff==2.2.1