JWT_SECRET=VERY_SECRET
ACCESS_TOKEN_EXPIRES=3600
REFRESH_TOKEN_EXPIRES=604800

JWT_REQUIER=True

UGC_PROJECT_NAME=UGC
UGC_PROJECT_VERSION=0.0.1
UGC_REDIS_HOST=ugc-redis
UGC_REDIS_PORT=6379
FILM_WATCH_TIME_EXPIRED=1209600

KAFKA_HOST=kafka
KAFKA_PORT=9092
ZOOKEEPER_HOST=zookeeper-kafka
ZOOKEEPER_PORT=2181

UGC_ETL_REDIS_HOST=ugc_redis
UGC_ETL_REDIS_PORT=6379

KAFKA_ADVERTISED_HOST_NAME=kafka
KAFKA_ZOOKEEPER_CONNECT=zookeeper-kafka:2181
BOOTSTRAP_SERVERS=["kafka:9092"]

CLICKHOUSE_HOST=clickhouse-node1
CLICKHOUSE_NODE_1=clickhouse-node3
CLICKHOUSE_PORT=9000

CLICKHOUSE_TABLE_NAME=users_films
