MONGO_DB=ugc
FILM_REVIEW_COLLECTION=film_review
FILM_RATING_COLLECTION=film_rating
FILM_REVIEW_RATE_COLLECTION=film_review_rate
BOOKMARK_COLLECTION=bookmark_collection
MONGOS1_HOST=mongos1
MONGOS1_PORT=27017
MONGOS2_HOST=mongos2
MONGOS2_PORT=27017
UGC_FAST_API_SENTRY_DSN=DSN
LOGSTASH_HOST=ugc-logstash-1
LOGSTASH_PORT=5044