PROJECT_VERSION=0.0.1
PROJECT_NAME=movies
REDIS_ADRESS=http://redis:6379
ELASTIC_ADRESS=http://elastic:9200
SERVICE_URL=http://api:8000

ELASTIC_HOST=elastic
ELASTIC_PORT=9200
REDIS_HOST=redis
REDIS_PORT=6379