gunicorn==20.1.0
uvicorn==0.22.0
fastapi==0.100.0
sqlalchemy[asyncio]==2.0.19
alembic==1.11.1
python-dotenv==1.0.0
psycopg2==2.9.6
asyncpg==0.28.0
PyJWT==2.7.0
pydantic==2.0.3
pydantic-settings==2.0.2
orjson==3.9.2