POSTGRES_DB=billing
POSTGRES_PORT=5432
POSTGRES_HOST=billing_psql
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

YOOKASSA_SECRET_KEY=test_KeLOXg7REi1nxNrZnJpIrW9LhWqx3m5p1Q-835lobY8
YOOKASSA_SHOP_ID=226040

POSTGRESQL_URL=postgresql+asyncpg://admin:admin@localhost/billing
JWT_SECRET=VERY_SECRET
JWT_ADMIN_ROLE=superuser
TRANSACTIONS_LOG_TABLE=transactions_log
SUBSCRIPTIONS_USERS_TABLE=subscriptions
SUBSCRIPTIONS_TABLE=subscriptions_tiers
