POSTGRES_DB=billing
POSTGRES_PORT=5432
POSTGRES_HOST=billing_psql
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

YOOKASSA_SECRET_KEY=notspecified
YOOKASSA_SHOP_ID=notspecified

POSTGRESQL_URL=postgresql://user:user@localhost/db