POSTGRES_DB=billing
POSTGRES_PORT=5432
POSTGRES_HOST=billing_psql
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
TRANSACTIONS_LOG_TABLE=transactions
SUBSCRIPTIONS_USERS_TABLE=subscriptions
SUBSCRIPTIONS_TABLE=subscriptions_tiers

JWT_SECRET=VERY_SECRET
JWT_ADMIN_ROLE=superuser

PAYMENT_REDIRECT_URL=http://localhost:3020/api/v1/provider/get_transactions/
YOOKASSA_SHOP_SECRET=notspecified
YOOKASSA_SHOP_ID=notspecified

ALEMBIC_POSTGRESQL_URL=postgresql://admin:admin@billing_psql/billing
POSTGRESQL_URL=postgresql+asyncpg://admin:admin@billing_psql/billing

BILLING_EXCHANGE=requests
BILLING_QUEUE_AUTH=send_request_auth_service
BILLING_QUEUE_NOTIFICATIONS=send_request_notifications_service
RABBITMQ_USER=admin
RABBITMQ_PASS=admin
RABBITMQ_HOST=rabbitmq_billing
RABBITMQ_PORT=5672

REDIS_HOST=billing_redis
REDIS_PORT=6379
