<!DOCTYPE html>
<html>
<head>
 <title>Регистрация</title>
</head>
<body>
 <h1>Регистрация</h1>
 <form id="login-form" method="post">
  <label for="login">Имя:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="login">Логин:</label>
  <input type="text" id="login" name="login"><br><br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Зарегистрироваться">
 </form>
</body>
</html>